<br />
<form [formGroup]="heroForm" novalidate>
  <div class="form-group">
    <label for="name">Nome:</label>
    <input class="form-control" id="name" formControlName="name" />
  </div>  
</form>
<br />
<p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>