<br />
<form #heroForm="ngForm">
  <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" id="name" name="name" [(ngModel)]="hero.name" required/>
  </div>  
</form>
<br />
<p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.valid | json }}</p>