<div class="btn-group" role="group">
  <button type="button" class="btn btn-default" *ngFor="let hero of heroes" (click)="selectHero(hero)"> {{ hero.name }} </button>
</div>
<div *ngIf="selectedHero">
  <app-hero-detail [hero]="selectedHero" ></app-hero-detail>
</div>